// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#include <stm32f103xb.h>

#define USE_FULL_LL_DRIVER
#undef __STM32F103xB_H
#define STM32F103xB
#define _STM32F1

#define _DISP_RST_ENABLED
//#define _DISP_READ_ENABLED

#define _SSD1322
#define _DISP_SPI
#define _DISP_FB
